@font-face {
    font-family: 'MouseMemoirs';
    src: url(https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:wght@300&display=swap);
}
/* @import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:wght@300&display=swap'); */


body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}   
h1{
    font-family: 'Open Sans', sans-serif;
    margin-top: 200px;
    margin-bottom: -200px;
    color:black;
    align-self: center;
}

.calculatorContainer{
    font-family: 'Open Sans', sans-serif;
    border-radius: 3%;
    background-color: #A0BCC2;
    width: 400px;
    font-size: 2 vw;
    padding: 50px;
    margin: 400px auto;
    display: flex;
    flex-direction: column;
    
}

.inputsContainer{
    flex-grow: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

.numPadContainer{
    flex-grow: 1;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: stretch;
    gap: 4px;
}

.operatorsContainer{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    gap: 4px;
}
.operatorButton{
    background-color: #F9EBC8;
}

.extraOperators{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.extraButtons{
    flex-grow: 1;
    background-color:#FEFBE7;
}

button{
    font-family: 'Open Sans', sans-serif;
    width: 5em;
    height: 4em;
    background-color: #DAE5D0;
    border: none;
    border-radius: 10%;
}

#display{
    width: inherit;
}

#display > input{
    border-radius: 5%;
    border: none;
    font-size: 1.5em;
    padding: 0px;
    text-align: end;
    
    margin: 0;
    flex-grow: 1;
    height: 5em;
    width: inherit;
}