body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}

.calculatorContainer{
    background-color: rgb(55, 137, 105);
    width: 400px;
    padding: 100px;
    margin: 400px auto;
    display: flex;
    flex-direction: column;
    
}

.inputsContainer{
    flex-grow: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.numPadContainer{
    flex-grow: 1;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.operatorsContainer{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.extraOperators{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.extraButtons{
    flex-grow: 1;
}
button{
    width: 5em;
    height: 4em;
}

#display{
    width: inherit;
}

#display > input{
    font-size: 1.5em;
    padding: 0;
    text-align:end;
    
    margin: 0;
    flex-grow: 1;
    height: 5em;
    width: inherit;
}